 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
    }

    body {
        
      background: linear-gradient(to bottom, #5a2d18, #0a0731);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh; 
    }

