 .card {
    top: 2rem;
      background: linear-gradient(to bottom, #1e2a4a, #000000);
      width: 430px;
      height: 500px;
      border-radius: 30px;
      padding: 20px;
      color: white;
      text-align: center;
      position: relative;
      box-shadow: #000 0px 0px 75px 30px;
    }

    .avatar {
      width: 170px;
      height: 170px;
      background: #ffc107;
      border-radius: 20px;
     margin-top: -7rem;
     margin-left: 7rem;
     
    }

    .avatar img {
    box-shadow: #000 0px 0px 75px 30px;
      width: 100%;
       
    }

    h1 {
      margin-top: 35px;
      font-size: 30px;
      font-weight: 600;
    }

    .handle {
      color: #aaa;
      font-size: 14px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    .info {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    .socials {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 20px;
    }

    .socials a {
      flex: 1;
      padding: 10px;
      border-radius: 10px;
      background-color: #0f172a;
      color: white;
      text-decoration: none;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-icons {
      display: flex;
      justify-content: space-around;
    }

    .footer-icons img {
      width: 30px;
    }


    .img1 {
        border-radius: 20px;
    }


    
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;

}

  .stats-container {
   
            display: flex;
            justify-content: space-around;
            margin: 20px 0;
        }
        
        .stat {
            
            display: flex;
            flex-direction: column;
           
        }
        
        .stat-number {
            font-size: 18px;
            font-weight: bold;
            padding-top: 15px;
            
        }
        

 .stat-label {
            font-size: 12px;
            color: #666;
            margin-top: 5px;
        }
        
      
          .tabs {
            display: flex;
            border-top: 1px solid #eee;
            padding-top: 15px;
        }
        
        .tab {
            flex: 1;
            padding: 8px 0;
            text-align: center;
            position: relative;
        }
        
        .tab a {
            text-decoration: none;
            color: inherit;
            display: block;
        }
        
        /* Línea negra para la pestaña activa */
        .tab.active::after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #000;
        }

        .facebook {
          cursor: pointer;
            width: 50px;
border-radius: 20px;

        }

        .github {
          cursor: pointer;
            width: 50px;
           border-radius: 20px;
        }

        .figma {
          cursor: pointer;
            width: 50px;
           border-radius: 20px;
        }

        .instagram {
          cursor: pointer;
            width: 50px;
           border-radius: 20px;
        }



        .textox{
          padding-top: 60px;
        }